@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
:root {
  font-family: Montserrat;
  line-height: 1.5;

  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-texthighlight: rgb(37 43 66);
  --second-text-color: #737373;
  --light-text-color: #fff;
  --darkblue-color: #252b42;
  --success-color: #2dc071;
  --lightblue-color: #23a6f0;
  --text-color: #252b42;
  --secondary-color-1: #23856d;
  --muted-text-color: #bdbdbd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .image-response {
  height: 100%;
  width: 100%;
} */

/* Top Header section */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue-color);
  height: 46px;
  padding: 0px 1.5rem 0rem 1.5rem;
  color: var(--light-text-color);
}
.contact-container {
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
  align-items: center;
}
.contact-container .contact {
  padding-right: 0.7rem;
}
.social-container .image-wrapper {
  margin: 0.7rem;
  outline: none;
  /* height: 1rem; */
  /* width: 1rem; */
}
button {
  background-color: transparent;
  outline: none;
}

/* BottomHeder Section */
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.625rem;
  width: 100%;
}
.bottom-header .logo {
  color: var(--darkblue-color);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.bottom-header .menu {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  list-style: none;
  gap: 1rem;
}
.bottom-header .menu a {
  color: var(--second-text-color, #737373);
  text-decoration: none;
  height: 1.56rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.login-section {
  align-items: center;
  width: auto;
  color: var(--lightblue-color);
}
.bottom-header .login-text {
  color: var(--lightblue-color);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0125rem;
  gap: 5px;
}

.bottom-header .img-container1 {
  margin: 0.7rem;
  height: 1rem;
  width: 1rem;
}
.bottom-header .img-container2 {
  margin: 0.7rem;
  height: 1rem;
  width: 1rem;
}
.bottom-header .img-container3 {
  margin: 0.7rem;
  height: 16px;
  width: 16px;
}
.bottom-header .img-container4 {
  margin: 0.7rem;
  height: 1rem;
  width: 1rem;
}
.counter {
  padding-right: 0.8rem;
}
/* Header Banner Section */
.carousel-content {
  background-image: url(./assets/Images/banner.svg);
  height: 44.75rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 6rem;
}
.carousel-content .left-arrow {
  position: absolute;
  left: 20px;
  top: 50%;
}
.carousel-content .right-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
}
.carousel-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37.4rem;
  gap: 2.19rem;
  margin-top: 10rem;
}
.carousel-content .text-content .summer {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00625rem;
  color: var(--light-text-color);
  width: 9.25rem;
}
.carousel-content .text-content .collection {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0125rem;
  color: var(--light-text-color);
  width: 34.25rem;
  height: fit-content;
}
.carousel-content .text-content .advert-text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0125rem;
  color: var(--light-text-color);
  width: 65%;
}
.carousel-content .text-content .banner-button {
  padding: 0.94rem 2.5rem 0.94rem 2.5rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  border-radius: 0.3125rem;
  background: var(--success-color);
  color: var(--light-text-color);
  border: none;
  width: fit-content;
}
/* Editor's Section */
.editor-pick {
  min-height: 20.25rem;
}
.editor-heading {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.editor-heading .editor-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.editor-heading .editor-statement {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0125rem;
}
.editor-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  height: 15.8125rem;
  position: relative;
  margin-inline: 12.25rem;
  overflow: hidden;
  height: 100%;
  flex-wrap: wrap;
}

.editor-imgs .grid-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  height: 15.8125rem;
}
.large-img,
.accessories,
.women-wears,
.kids-wears {
  position: relative;
}
.editor-imgs .men-btn {
  position: absolute;
  top: 86%;
  left: 3%;
  margin-left: 1.88rem;
  margin-bottom: 1.6rem;
  margin-right: 19.31rem;
  padding: 0.75rem 0rem;
  height: 3rem;
  width: 10.625rem;
  font-weight: 700;
  color: var(--text-color-);
  background-color: var(--light-text-color);
  border: none;
}
.editor-imgs .women-btn {
  position: absolute;
  top: 86%;
  left: 3%;
  margin-left: 1.25rem;
  margin-bottom: 1.13rem;
  margin-right: 5.19rem;
  padding: 0.75rem 3rem;
  height: 3rem;
  width: 8.5rem;
  font-weight: 700;
  color: var(--text-color-);
  background-color: var(--light-text-color);
  border: none;
}
.editor-imgs .accessories-btn {
  position: absolute;
  bottom: -10%;
  left: 3%;
  margin-left: 0.81rem;
  margin-bottom: 3rem;
  margin-right: 3.5rem;
  padding: 1rem;
  font-weight: 700;
  color: var(--text-color-);
  background-color: var(--light-text-color);
  border: none;
}
.editor-imgs .kids-btn {
  position: absolute;
  bottom: 0%;
  left: 3%;
  margin-left: 1.06rem;
  margin-bottom: 1.13rem;
  margin-right: 6.37rem;
  padding: 0.75rem 2.5rem;
  font-weight: 700;
  color: var(--text-color-);
  background-color: var(--light-text-color);
  border: none;
}
/* Featured Products Section */
.featuredProducts-header {
  text-align: center;
  margin-block: 5rem;
  padding: 0.62rem;
}
.featuredProducts-header .ft-products {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
  color: var(--second-text-color);
}
.featuredProducts-header .best-products {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  color: var(--text-color);
}
.featuredProducts-header .ft-statement {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  color: var(--second-text-color);
}
.product-list {
  display: flex;
  gap: 1.88rem;
  overflow: hidden;
  flex-wrap: wrap;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.88rem;
  justify-content: center;
  align-items: center;
}
.product-info {
  text-align: center;
}
.product-card {
  width: calc(25% - 1rem);
  max-width: 14.9375rem;
}
.product-img {
  width: 100%;
  overflow: hidden;
}
.product-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Middle banner  */
.middle-content {
  background-color: var(--secondary-color-1);
  display: flex;
  align-items: center;
  padding-left: 6rem;
  padding-top: 7rem;
  position: relative;
  max-width: 100%;
}
.middle-content .middle-left-arrow {
  position: absolute;
  left: 20px;
  top: 55%;
  width: 1.5rem;
  height: 2.77944rem;
  flex-shrink: 0;
}

.middle-content .middle-right-arrow {
  position: absolute;
  right: 20px;
  top: 55%;
  width: 1.5rem;
  height: 2.77944rem;
  flex-shrink: 0;
}
.middle-content .middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37.4rem;
  gap: 1.88rem;
  margin-top: 3.75rem;
}
.middle-content .middle-text .middle-summer {
  color: var(--light-text-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
}
.middle-content .middle-collection {
  color: var(--light-text-color);
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.0125rem;
}
.middle-content .middle-advert-text {
  color: var(--light-text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  width: 21.3125rem;
}
.middle-button {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  gap: 2.12rem;
  margin-left: 0;
}
.middle-price {
  color: var(--light-text-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
}
.middle-content .middle-banner-button {
  display: flex;
  padding: 0.9375rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background: var(--success-color);
  border: none;
}
.middle-img {
  width: 100%;
  overflow: hidden;
}
.middle-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-indicator {
  margin-right: 60%;
}
/* Asian Wears */
.asianMan-content {
  background-color: var(--light-text-color);
  min-height: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.9rem;
  gap: 4.12rem;
}

.asianMan-content .asianMan-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 9.75rem;
  gap: 1.88rem;
  margin-top: 10.13rem;
}
.asianMan-content .asianMan-text .asianMan-summer {
  color: var(--muted-text-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}
.asianMan-content .asianMan-collection {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
}
.asianMan-content .asianMan-advert-text {
  color: var(--second-text-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
}
.asianMan-button {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  gap: 0.94rem;
}
.asianMan-content .asianMan-banner-btn1 {
  display: flex;
  padding: 0.9375rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background: var(--success-color);
  color: var(--light-text-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
  border: none;
}
.asianMan-content .asianMan-banner-btn2 {
  display: flex;
  padding: 0.9375rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--success-color);
  color: var(--success-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}
/* Featured Posts Header  */
.featured-posts-header {
  text-align: center;
  margin-inline: 11.2rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.featured-posts-h6 {
  color: var(--primary-text-color);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0125rem;
  min-width: 7.125rem;
}
.featured-posts-h2 {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  min-width: 19.3125rem;
}
.featured-posts-p {
  width: 10.3125rem;
  color: var(--second-text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

@media screen and (max-width: 795px) {
  .menu {
    flex-direction: column;
  }
  .top-header {
    display: none;
  }
  .img-container1 {
    display: none;
  }
  .img-container4 {
    display: none;
  }
  .editor-imgs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    height: 15.8125rem;
    position: relative;
    margin-inline: 0rem;
  }

  .grid-imgs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    height: 15.8125rem;
    width: 100%;
  }
  .women-wears,
  .kids-wears,
  .acessories,
  .large-img {
    width: 100%;
  }
  .women-wears img,
  .kids-wears img,
  .accessories img,
  .large-img img {
    width: 100%;
  }
  .carousel-content {
    background-image: url(./assets/Images/small-banner.svg);
    height: 44.75rem;
    position: relative;
    display: grid;
    display: flex;
    align-items: center;
    padding-left: 0rem;
  }
}
